@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    127.0.0.1<br />
    Ukraine Kyiv<br />
    <abbr title="Telegram">T:</abbr>
    <a href="https://t.me/chainer1">chainer1</a>
</address>

<address>
    <strong>Personal:</strong> <a href="mailto:chainerenator@gmail.com">gmail</a><br />
    <strong>Work:</strong> <a href="mailto:kb@softico.ua">Outlook 365</a>
</address>
